<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
</div>

<div class="hero-section">
  <div class="hero-section-text">
    <h1>Welcome to Catcasts!</h1>
  </div>
</div>
